body{
	background: #fafafa;
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{
    min-width: 250px;
    max-width: 250px;
	min-height: 100vh;
	background: #ce7910;
    color: #fff;
	transition: all 0.3s;
	border-color: #343a40;
	border: 1px solid #343a40;
  	

}

#sidebar.active{
    margin-left: -250px;
}

#sidebar .sidebar-header{
    padding: 20px;
}
#sidebar ul.components{
    padding: 20px;
    border-bottom: 1px solid #6c757d;
} 

#content {
    width: 100%;
	transition: all 0.2s;
	margin: 0 0 10px
}
#mainNav{
	position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
	top:0px;
	overflow: hidden; 
	z-index: 300;
	background: rgba(20,23,25,0.85);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	/* this may not work on browsers outside of safari ****Experimental at the moment**** */
	
} 

.colTrans{
	transition: all 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	z-index: 0;
}

h1,h2,h3{
	color:  #fafafa;
}

p{
	padding: 20px;
}

.cardRow{
	margin:40px;
}

.spacer{
	height:50px;
}
.card{
	margin-top:10px;	
	background-color: rgba(51, 51, 51, 0);
}

.blur{
	position: absolute;
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	z-index: -1 !important;
	background-color: rgba(51, 51, 51, 0);
	width: calc(100% - 250px);
	min-height: 100vh;
	height: inherit;
	margin-left: -15px;
	transition: all 0.7s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	display: -webkit-flex;
	
}
#blur.active{
	z-index: 100 !important;
	background-color: rgba(51, 51, 51, 0.5);
}

ion-icon {
	margin-top: 5px;
	font-size-adjust: initial
  }

.signOut{
	background: white;
	margin:50px;
	height: 36px;
	width:120px;
	border-radius:1.5px;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
  	transition-property: background-color, box-shadow;
 	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
.signOut:hover,.signOut:focus{
	box-shadow: 0px 0px 5px 1px rgba(72, 133, 237, 0.5);
	background: white;
}

.signOut:active{
	
    box-shadow: 0px 0px 5px 1px rgba(72, 133, 237, 0.5);
    transition-duration: 10ms;
}

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
 }



@media (max-width: 768px) {

    #sidebar {
		/* position:fixed; change when fixing mobile version */
		margin-left: -250px;
		
    }
    #sidebar.active {
		margin-left: 0;
		min-width: 150px;
		max-width: 150px;
		z-index: 450;
	}
	.cardRow{
		margin:10px;
		
	}
	.card{
		margin-top:10px;
		
	}

	
}
